<mat-toolbar color="primary" class=mat-elevation-z6>
    <span>Pipeline Preadtors</span>

    <div class = "pull-right"></div>

    <div class = "navigation">
      <a mat-button routerLink="/"> Home </a>
      <a mat-button routerLink="orders"> Orders </a>
     
     </div> 
  
     
  </mat-toolbar>